.product-display {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 40px;
  background-color: #f5f5f5;
  max-width: 1440px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}



.product-images {
  display: grid;
  gap: 10px;
}

.image-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  grid-template-rows: 1fr 1fr; /* Две строки */
  gap: 10px; /* Пробел между картинками */
}

.image-list img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
}

.product-details {
  width: 400px;
  margin-left: 40px;
  margin-top: 30px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #121010;
}

.product-category {
  font-size: 16px;
  color: #9D5248;
  margin: 10px 0;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.product-color {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.product-color span {
  margin-right: 10px;
}

.color-swatch {
  width: 20px;
  height: 20px;
  background-color: #964b00; /* Brown color */
  border: 1px solid #000;
}



.add-to-cart {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #964b00; /* Brown color */
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}

.accordion-section {
  margin-top: 40px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.accordion-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #964b00;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  outline: none;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-item.active .accordion-content {
  max-height: 150px;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  padding: 10px 0;
  color: #333;
  font-size: 16px;
}

.accordion-button:after {
  content: '+';
  font-size: 18px;
  color: #964b00;
}

.accordion-item.active .accordion-button:after {
  content: '-';
}


