.forth-collection-component {
    display: flex;
    width: 100%;
    height: 750px;
    max-width: 1400px;
    margin: auto;
  }
  
  .forth-collection-image-link {
    flex: 1;
    overflow: hidden;

  }
  
  .forth-collection-image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  
  .forth-collection-carousel-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #EEEAE5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .forth-collection-carousel-container h2{
    margin-top: 50px;
  }

  .forth-collection-carousel-container button{
    margin-bottom: 50px;
  }

  .view-all {
    height: 50px;
    width: 160px;
    margin-top: 20px;
    border: 1px solid #C3B0A5;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent; /* Убедитесь, что фон по умолчанию прозрачный */
    transition: background-color 0.3s ease, color 0.3s ease; /* Добавьте transition для color */
  }
  
  .view-all:hover {
    background: #C3B0A5 !important;
    border: 1px solid #C3B0A5!important;
    color: white;
  }
  


.slick-prev-forth,
.slick-next-forth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  border: 1px solid #C3B0A5; /* Коричневая окантовка */
  height: 50px;
  width: 50px;
  border-radius: 50%; /* Закругленные края */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.slick-prev-forth:hover,
.slick-next-forth:hover {
  background-color: #C3B0A5; /* Цвет при наведении */
}

.slick-prev-forth:before,
.slick-next-forth:before {
  font-family: 'slick';
  font-size: 24px;
  color: #333; /* Цвет стрелки */
}

.slick-prev-forth {
  left: -60px; /* Смещаем влево */
}

.slick-next-forth {
  right: -60px; /* Смещаем вправо */
}

.slick-prev-forth:hover:before,
.slick-next-forth:hover:before {
  color: white; /* Цвет стрелки при наведении */
}