.resort-collection {
    text-align: center;
    flex-direction: column;
    flex: 1;
    background-color: #EEEAE5;

}
  
  .image-container-resort {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image-container-resort img {
    max-width: 300px;
    max-height: 500px;
    height: auto;
  }
  
  .text-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .text-content p {
    font-size: 1em;
    margin-bottom: 30px;                                                
  }
                                                                                  
  .links {
    display: flex;
    justify-content: center;
    gap: 40px;
  }


  .collection-link {
    position: relative;
    font-size: 1em;
    color: #a34e2c;
    text-decoration: none;
    display: inline-block;
  }
  
  .collection-link:hover .collection-link-line {
    opacity: 0;
    visibility: hidden;
  }
  
  .collection-link:hover .collection-underline {
    transform: scaleX(1);
  }
  
  .collection-link-line {
    display: inline-block;
    width: 7px; 
    height: 0.1px;
    background-color: #8B4513;
    transition: all 0.5s ease;
    position: absolute;
  }
  
  .collection-link .left {
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .collection-link .right {
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .collection-underline {
    position: absolute;
    left: 3%;
    bottom: -1px; 
    width: 94%; 
    height: 1px;
    background-color: #8B4513;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  .collection-link:hover .collection-link-line {
    width: 0;
  }
  
  .collection-link:hover .collection-underline {
    transform: scaleX(1);
  }
  