.footer {
  background-color: #f7f5f1;
  padding: 120px 150px 40px 150px;
  font-family: 'Georgia', serif;
}

.footer-container {
  background-color: #9a6343;
  padding: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-newsletter {
  flex: 2;
  margin-right: 20px;
}

.footer-newsletter h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}

.footer-newsletter p {
  margin: 10px 0;
  color: #FFFFFF;
  font-size: 14px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  width: 250px;
  margin-right: 10px;
  border-bottom: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
}

.newsletter-form input::placeholder {
  color: #FFFFFF;
  font-family: 'Georgia', serif;
}

.newsletter-form button {
  padding: 10px;
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.newsletter-acknowledgement {
  font-size: 10px;
  margin-top: 10px;
  color: #FFFFFF;
}

.footer-links {
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.footer-links div {
  margin-right: 20px;
}

.footer-links h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-social a {
  color: #9a6343;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-info {
  color: #9a6343;
  font-size: 10px;
}

.footer ul.open {
  max-height: 500px; /* Установите достаточно большое значение для полного раскрытия */
  transition: max-height 0.3s ease-in;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }                                                                          

  .footer-links ul {
    max-height: 0;
    overflow: hidden;
  }

  .footer-links ul.open {
    max-height: 300px;
  }
}
/* @media (max-width: 1024px) {
  .footer {
    padding: 80px 50px 40px 50px;
  }

  .footer-container {
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links div {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 30px 30px 30px;
  }

  .footer-container {
    padding: 20px;
  }

  .footer-newsletter {
    margin-right: 0;
  }

  .newsletter-form input {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links div {
    margin-bottom: 20px;
  }

  .footer-bottom-container {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 20px 20px 20px;
  }

  .footer-container {
    padding: 20px;
  }

  .newsletter-form button {
    font-size: 16px;
  }

  .footer-links {
    align-items: center;
    text-align: center;
  }

  .footer-links div {
    margin-right: 0;
    margin-bottom: 10px;
  }
} */