.relatedproducts {
    text-align: center;
    padding: 50px;
    background-color: #faf8f6;
  }
  
  .carousel-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .relatedproducts-slider .slick-slide {
    padding: 10px;
  }
  
  .relatedproducts-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
  }


  .slick-dots{
    color: #9a6343;
  }
  
  .slick-prev {
    left: -25px;
  }
  
  .slick-next {
    right: -25px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #ccc;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
  }
  

  .slick-dots li.slick-active .custom-dot {
    background-color: #9a6343; /* Цвет активной точки */
    transform: scale(1.2); /* Увеличение активной точки */
  }
  